.payments .img-galery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  height: 460px;
  margin-top: 24px;
  width: 100%;
}

.payments .content-container .img-galery .imagem.frist {
  background: url(../img/galley1-mobile.png) no-repeat;
  background-size: cover;
}

.payments .content-container .img-galery .imagem.second {
  background: url(../img/galley2-mobile.png) no-repeat;
  background-size: cover;
}

.payments .content-container .img-galery .imagem.thirdy {
  background: url(../img/galley3-mobile.png) no-repeat;
  background-size: cover;
}

.payments .content-container .img-galery .imagem.colspan-2 {
  grid-column: span 2;
}

@media screen and (min-width: 768px) {
  .payments .content-container .img-galery .imagem.frist {
    background: url(../img/galley1-tablet.png) no-repeat;
    background-size: cover;
  }

  .payments .content-container .img-galery .imagem.second {
    background: url(../img/galley2-tablet.png) no-repeat;
    background-size: cover;
  }

  .payments .content-container .img-galery .imagem.thirdy {
    background: url(../img/galley3-tablet.png) no-repeat;
    background-size: cover;
  }
}

@media screen and (min-width: 1440px) {
  .payments .content-container {
    display: flex;
    justify-content: space-between;
  }

  .payments .content-container .text-content {
    width: 360px;
  }

  .payments .content-container .img-galery {
    width: 790px;
  }
}
